<!DOCTYPE html>
<html>
<head>
    <title>Narrativas</title>
</head>
<body>
    <h1>Lista de Narrativas</h1>
    <a href="{% url 'cadastrar_narrativa' %}">Adicionar Nova Narrativa</a>
    <table border="1">
        <thead>
            <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Descrição</th>
            <th>Ações</th>
            </tr>
        </thead>
    <tbody>
        {% for narrativa in todas_narrativas %}
        <tr>
            <td>{{ narrativa.id }}</td>
            <td>{{ narrativa.titulo }}</td>
            <td>{{ narrativa.descricao }}</td>
            <td>
                <a href="{% url 'editar_narrativa' narrativa.id %}">Editar</a> |
                <a href="{% url 'remover_narrativa' narrativa.id %}" onclick="return confirm('Tem certeza que deseja remover esta narrativa?');">Remover</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>
