<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Locais</h1>
    <p><a href="{% url 'cadastrar_localnarrativas' %}"> CADASTRAR </a></p>
    <p> Listagem das Localidades: </p>
    {% for local in todos_locais %}
    <p>
        Título:{{local.nome}}
        | <a href="{% url 'editar_localnarrativas' local.id %}"> EDITAR </a>
        | <a href="{% url 'remover_localnarrativas' local.id %}"> REMOVER </a>
    </p>
    {% empty %}
    <p> Nenhum Local Cadastrado </p>
    {% endfor %}
</body>
</html>