<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    <h1>Narrativas</h1>
    <p><a href="{% url 'cadastrar_tiponarrativas' %}"> CADASTRAR </a></p>
    {% for narrativas1 in todos_tipos %}
    <p>
        Título da Narrativa: {{narrativas1.titulo}}
        <a href="{% url 'editar_tiponarrativas'  Tipo_Narrativa.id %}"> EDITAR </a>
        <a href="{% url 'remover_tiponarrativas' Tipo_Narrativa.id %}"> REMOVER </a>
    </p>
    <p>Quantidade de Personagens Reais: {{indicador.qtd_personagens_reais}}</p>
    <p>Quantidade de Personagens Imaginários: {{indicador.qtd_personagens_imaginarios}}</p>
    {% empty %}
    <p>Nenhuma Narrativa Cadastrada</p>
    {% endfor%}
</body>
</html>