<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA_Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Períodos</h1>
    <p><a href="{% url 'cadastrar_periodonarrativas' %}"> CADASTRAR </a></p>
    <p> Listagem de Periodos: </p>
    {% for periodo in todos_periodos %}
    <p>
        Título: {{periodo.nome}}
        | <a href="{% url 'editar_periodonarrativas' periodo.id %}"> EDITAR </a>
        | <a href="{% url 'remover_periodonarrativas' periodo.id %}"> REMOVER </a>
    </p>
    {% empty %}
    <p> Nenhum Período Cadastrado </p>
    {% endfor %}
</body>
</html>